@media screen and (max-width: 576px) {
  form {
    width: 50%;
    height: 40%;
  }

  input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  div nav button {
    margin-top: 0.5em;
  }
}

ul {
  list-style: none;
}

.signin button {
  width: 12em;
  height: 2.3em;
}
